#!jinja2    

    # ------------------------------------------------------------
    # Task definitions for the JEDI cycle
    # ------------------------------------------------------------


    [[SetupJEDI]]
        title = "Create the JEDI script to be run"
        description = """
                Call a templating routine to setup JEDI
                for particular cycle and configuration
        """
        pre-script = """
            . ${SCRIPT_DIR}/setup.sh
            . ${SCRIPT_DIR}/setupjedi.sh
            """
    [[PrepJEDIdefault]]
        inherit = SetupJEDI
        title = "Create the default JEDI script to be run"
        description = """
                Call a templating routine to setup JEDI
                for default cycle and configuration
        """
        script = """
            . ${SCRIPT_DIR}/setupjedi.sh
            [[ ! -d ${rundir} ]]       &&  mkdir -p ${rundir}
            [[ ! -d ${rundir}/log ]]   &&  mkdir -p ${rundir}/log
            [[ ! -d ${hofxout} ]]      &&  mkdir -p ${hofxout}
            [[ ! -d ${analysisout} ]]  &&  mkdir -p ${analysisout}
            [[ ! -d ${DATA_DIR} ]]     &&  mkdir -p ${DATA_DIR}
            [[ ! -d ${BUMP_DIR} ]]     &&  mkdir -p ${BUMP_DIR}

            # ensemble members and initial restart are symbolic link
            [[ ! -d ${DATA_DIR}/ens_c384 ]]  &&  mkdir -p ${DATA_DIR}/ens_c384
            ln -sf ${INPUT_DATA_DIR}/ensemble/c${RES}_gaussian2restart/enkfgdas.${CDATE:0:8}/ ${DATA_DIR}/ens_c384/.

            # link the observation data
            ln -sf ${OBS_DIR} ${DATA_DIR}/.

            # link the static background error
            ln -sf ${PREP_DATA_DIR}/bump/${BUMP_name}   ${BUMP_DIR}/.
            ln -sf /work2/noaa/da/hailingz/work/Data/StaticBTraining ${DATA_DIR}/.

            # call templating script
            sh ${TEMPLATE_DIR}/template_${DAmethod}_yaml.sh "${OPTS[@]}"
            cp ${DAmethod}.yaml ${TOP_DIR}/${CDATE}/.
        """ 

        [[[environment]]]
            rundir = ${TOP_DIR}/${CDATE}/da   
            hofxout = ${rundir}/output/hofx
            analysisout = ${rundir}/output/RESTART
            staticB_TOP = ${DATA_DIR}/StaticBTraining/c${RES}/bump_1.0
            BKG_path = ${TOP_DIR}/${PREDATE}/atmos/RESTART
            ENS_path = ${DATA_DIR}/ens_c${RES}/enkfgdas.${CDATE:0:8}/${CDATE:8:2}/atmos
            dtg    = $(cylc cycle-point --template=%Y%m%d.%H0000)
            dtg_e    = $(cylc cycle-point --template=%Y%m%d.%H0000)

        [[[job]]]
            batch system = background

    [[ColdPrepJEDI]]
        inherit = PrepJEDIdefault
        title = "Create the Initial time JEDI script to be run"
        description = """
                Call a templating routine to setup JEDI
                for coldstart cycle and configuration
        """
        post-script = """
            [[ ! -d ${TOP_DIR}/${PREDATE}/atmos ]]  &&  mkdir -p ${TOP_DIR}/${PREDATE}/atmos
            ln -sf /work/noaa/da/bruston/jedi/fv3/c${RES}_gdas/gdas.${PREDATE:0:8}/${PREDATE:8:2}/atmos/RESTART ${TOP_DIR}/${PREDATE}/atmos
        """

    [[PrepJEDI]]
        inherit = PrepJEDIdefault
        title = "Create the JEDI script to be run"
        description = """
                Call a templating routine to setup JEDI
                for cycle and configuration
        """

    [[RunJEDI]]
        inherit = SetupJEDI
        title = "Run the JEDI observation processing and solver"
        description = """
                Run the JEDI solver
        """
        script = """
            cd $rundir
            ln -sf ${BUMP_DIR}/${BUMP_name} .
            {{MPI_RUN}} {{MPI_ARGS_JEDI}} ${JEDIbin}/fv3jedi_var.x ${TOP_DIR}/${CDATE}/${DAmethod}.yaml
        """

        [[[environment]]]
            rundir = ${TOP_DIR}/${CDATE}/da    # can use cylc workdir?
            hofxout = ${rundir}/output/hofx
            analysisout = ${rundir}/output/RESTART
            BKG_path = ${TOP_DIR}/${PREDATE}/atmos/RESTART
            ENS_path = ${DATA_DIR}/ens_c${RES}/enkfgdas.${CDATE:0:8}/${CDATE:8:2}/atmos
